/* import google font Alata */
@import url(https://fonts.googleapis.com/css?family=Alata);
@import url(https://fonts.googleapis.com/css?family=Arimo);
@import url("https://fonts.googleapis.com/css?family=Archivo+Black");

html,
body {
  position: relative;
  width: 100%;
  height: 100%;

  background: radial-gradient(
    54.5% 54.5% at 50% 50%,
    #afccf9 0%,
    rgba(146, 185, 242, 0) 100%
  );
}

.container {
  position: absolute;
  width: 80%;
  height: 80%;
  margin: 10%;

  border: black;
  background: white;
}

img {
  position: relative;
  height: 100%;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
  margin-left: -10%;
}

.blue {
  position: relative;
  background: #d1f5f9;
  display: block;
  width: 100%;
  height: 40%;
  margin-top: 0%;
}

.Manchete {
  position: relative;
  display: block;
  width: 100%;

  margin-top: 5%;

  font-family: "Archivo Black";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  /* or 123% */
  text-align: center;
  letter-spacing: 0.02em;
  color: #173e77;
}

.headline {
  position: relative;
  font-family: "Arimo";
  font-style: normal;
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 1.5;
  text-align: center;
  margin: 10px;
  margin-bottom: 20px;
}
.span {
  position: relative;
  height: 10px;
  background-color: white;
}

input {
  position: relative;
  width: 80%;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 2%;
  margin-left: 10%;
}

button {
  position: relative;
  text-align: center;
  font-family: "Alata";
  font-style: normal;
  font-weight: 100;
  font-size: 12px;

  height: 40px;
  width: 80%;
  color: white;
  /* or 123% */
  text-align: center;
  align-items: center;
  letter-spacing: 0.02em;
  background-color: #58c8d2;
  margin: 12%;
  border-radius: 2px;
  border: none;
}
